= form_with(model: [:admin, route], local: true) do |form|
  = render 'common/errors', resource: route
  .field
    = form.label :name
    = form.text_field :name, id: :route_name
  .actions
    = form.submit
