- hidden = false unless local_assigns[:hidden]
= form_for [:admin, route], html: { style: "display: #{ hidden ? 'none' : 'block'}" } do |form|
  = render 'common/errors', resource: route
  .field
    = form.label :name
    = form.text_field :name, id: :route_name
  .actions
    = form.submit
