%p#notice= notice
%p
  %strong Номер:
  = @train.number
%p
  %strong Маршрут:
  - if @train.route
    = @train.route.name
  - else
    Маршрут не назначен.
- if @train.carriages.any?
  %p
    %strong Количество вагонов:
    %br
    Купейных:
    = @train.carriages.coupe.count
    %br
    Верхних мест всего:
    = @train.carriages.total_seats(:coupe, :top_seats)
    %br
    Нижних мест всего:
    = @train.carriages.total_seats(:coupe, :bottom_seats)
    %br
    Плацкартных:
    = @train.carriages.platscart.count
    %br
    Верхних мест всего:
    = @train.carriages.total_seats(:platscart, :top_seats)
    %br
    Нижних мест всего:
    = @train.carriages.total_seats(:platscart, :bottom_seats)
- else
  %strong К поезду не прицеплен ни один вагон

= link_to 'Редактировать', edit_train_path(@train)
|
= link_to 'Список поездов', trains_path
|
= link_to 'Добавить вагон', new_carriage_path
