%p#notice= notice
%p
  %strong Номер:
  = @train.number
%p
  %strong Маршрут:
  - if @train.route
    = @train.route.name
  - else
    Маршрут не назначен.
%p
  %strong Количество вагонов:
  %br
  Купейных:
  = @train.carriages.where(type_class: 'coupe').count
  %br
  Плацкартных:
  = @train.carriages.where(type_class: 'platscart').count

= link_to 'Редактировать', edit_train_path(@train)
|
= link_to 'Список поездов', trains_path
|
= link_to 'Добавить вагон', new_carriage_path
