%p#notice= notice
%p
  %strong Номер:
  = @train.number
%p
  %strong Маршрут:
  - if @train.route
    = @train.route.name
  - else
    Маршрут не назначен.
%h4 Вагоны
%p
- if @train.carriages.any?
  Coртировка:
  = @train.car_sort ? "С головы поезда" : "С хвоста поезда"
  %ul
    - @train.carriages.car_sort(@train).each do |carriage|
      %li
        = link_to carriage.number, carriage
  %p
    Количество вагонов:
    %br
    Купейных:
    = @train.carriages.coupe.count
    %br
    Верхних мест всего:
    = @train.carriages.total_seats(:coupe, :top_seats)
    %br
    Нижних мест всего:
    = @train.carriages.total_seats(:coupe, :bottom_seats)
    %br
    Плацкартных:
    = @train.carriages.economy.count
    %br
    Верхних мест всего:
    = @train.carriages.total_seats(:economy, :top_seats)
    %br
    Нижних мест всего:
    = @train.carriages.total_seats(:economy, :bottom_seats)
- else
  %strong К поезду не прицеплен ни один вагон

= link_to 'Редактировать', edit_train_path(@train)
|
= link_to 'Список поездов', trains_path
|
= link_to 'Добавить вагон', new_carriage_path
