%p
  %strong Train:
  - if carriage.train
    = carriage.train.number
  - else
    The train is not assigned.
  %br
  %strong Type: 
  = carriage.type
  %br
  - Carriage::SEATS.each do |seat|
    %strong Bottom seats: 
    = carriage.send(seat.to_sym)
    %br
= link_to 'Edit', edit_carriage_path(carriage)
= link_to 'Delete', carriage, method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'Train', carriage.train
