%p#notice= notice
%p
  %strong Train:
  - if @carriage.train
    = @carriage.train.number
  - else
    The train is not assigned.
  %br
  %strong Type: 
  = @carriage.type_class
  %br
  %strong Bottom seats: 
  = @carriage.bottom_seats
  %br
  %strong Top seats: 
  = @carriage.top_seats
= link_to 'Edit', edit_carriage_path(@carriage)
= link_to 'Train', @carriage.train
