%p
  %strong Вагон номер:
  = carriage.number
  %br
  %strong Номер поезда:
  - if carriage.train
    = carriage.train.number
  - else
    The train is not assigned.
  %br
  %strong Тип: 
  = carriage.type
  %br
  - Carriage::SEATS.each do |seat|
    - quantity = carriage.send(seat.to_sym)
    - if quantity != 0
      %strong
        = seat.gsub('_', ' ').capitalize
      = quantity
    %br
= link_to 'Редактировать', edit_admin_carriage_path(carriage)
= link_to 'Удалить', [:admin, carriage], method: :delete, data: { confirm: 'Вы уверены?' }
= link_to 'Назад к поезду', [:admin, carriage.train]
