= form_with(model: [:admin, @train, carriage.becomes(Carriage)], local: true) do |form|
  = render 'common/errors', resource: carriage
  .field 
    %strong Type
    - Carriage::TYPE_CLASS.each do |type|
      = form.label type
      = form.radio_button :type, type, checked: ( type == Carriage::TYPE_CLASS.first )
  - Carriage::SEATS.each do |seat|
    .field
      %strong
        = form.label seat.to_sym
      = form.number_field seat.to_sym, min: 0
  .actions
    = form.submit "#{carriage.new_record? ? 'Создать' : 'Изменить'}", class: "btn btn-primary"
