%header
  .nav.nav-inline
    - if user_signed_in?

      - if current_user.admin?
        = render 'layouts/admin_links'
      - else
        = link_to 'Поиск билетов', search_path, class: 'nav-link'

      = link_to 'Список билетов', current_user.admin? ? admin_tickets_path : tickets_path, class: 'nav-link'
      = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link'
    - else
      = link_to 'Login', new_user_session_path, class: 'nav-link'
